body {
    background-color: beige;
    user-select: none;
}

#board,
#controls {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

#board {
    border: 1px solid black;
    font-size: 0;
    margin-right: 30px;
}

.row div {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}

.row div.mines0 {
    background-color: #BDBDBD;
}

.row div.mines1 {
    color: #0000FF;
}

.row div.mines2 {
    color: #007B00;
}

.row div.mines3 {
    color: #FA0D0D;
}

.row div.mines4 {
    color: #00007B;
}

.row div.mines5 {
    color: #7B0000;
}

.row div.mines6 {
    color: #007B7B;
}

.row div.mines7 {
    color: #000000;
}

.row div.mines8 {
    color: #8A8A8A;
}

.row div.mine-revealed {
    background-color: red;
}

.row div.flag {
    background-image: url("flag.png");
}

.row div.flag-x {
    background-image: url("flag-x.png");
}

#minesLeft {
    margin-top: 0px;
}

#restart {
    font-size: 18px;
    margin-top: 8px;
}

#message {
    color: #ff4c00;
    font-size: 50px;
    margin-top: 25px;
}
